In [3]:
#subset of the dashfired safety project
import pandas as pd
import datetime as dt
from datetime import timedelta
import matplotlib.pyplot as plt



df=pd.read_excel('dashboard.xlsx')
df.head()

  Country State  Time_Period  Outcome       Date
0      US    PA  10h00-11h00  Failure 2021-04-01
1      US    MS   9h00-10h00  Success 2021-04-01
2      US    TX   9h00-10h00  Success 2021-04-01
3      US    NJ  10h00-11h00  Success 2021-04-01
4      US    NM   9h00-10h00  Success 2021-04-01

In [2]:
totac=df.groupby('Date')['Outcome'].count()
totsuc=df[df['Outcome']=='Success'].groupby('Date')['Outcome'].count()
totnsuc=df[df['Outcome']=='Failure'].groupby('Date')['Outcome'].count()

In [11]:
totac1=df.groupby('State')['Outcome'].count()
totsuc1=df[df['Outcome']=='Success'].groupby('State')['Outcome'].count()
totnsuc1=df[df['Outcome']=='Failure'].groupby('State')['Outcome'].count()

In [14]:
def success(outcome):
    if outcome == "Success":
        return 1
    else:
        return 0
df["Success"] = df.Outcome.apply(success)
success_time = df[df["Success"] == 1].groupby("Time_Period")["Success"].count().sort_index()

In [15]:
success_time.head()

Time_Period
10h00-11h00    11
11h00-12h00    20
12h00-13h00    11
13h00-14h00    10
14h00-15h00    18
Name: Success, dtype: int64

In [17]:
sucess_in_state = df.groupby("State")["Success"].count()

num

In [20]:
num

State
AL                4
AR                2
AZ                1
CA               34
CO                5
CT                2
FL               33
Free              1
GA               18
IA                1
IL               21
IN                8
International     1
KS                3
KY                1
LA                4
MA                9
MD                6
ME                6
MI               10
MN                4
MO                3
MS                1
MT                1
NC               13
NH                1
NJ               25
NM                2
NV                8
NY               36
National          1
OH               19
OR                1
PA               22
SC                1
TN                8
TX               22
UT                1
VA                3
WA                5
WI                4
WV                1
unkown           14
Name: Success, dtype: int64