#### Bashir Alam
#### Third assignment

<p> <b>Question-1</b><hr>Read the avocado file in csv format to a dataframe.</p>

In [38]:
import pandas as pd
data = pd.read_csv("avocado.csv")

data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

<p><b>Question-2</b><hr>display the column names</p>

In [39]:
# first way
data.head(0)

Empty DataFrame
Columns: [Unnamed: 0, Date, AveragePrice, Total Volume, 4046, 4225, 4770, Total Bags, Small Bags, Large Bags, XLarge Bags, type, year, region]
Index: []

In [40]:
# second way
data.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [41]:
# third way
# iterating the columns
for col in data.columns:
    print(col)

Unnamed: 0
Date
AveragePrice
Total Volume
4046
4225
4770
Total Bags
Small Bags
Large Bags
XLarge Bags
type
year
region

<p><b>Question-3</b><hr>how to get the average value of Large bags ?</p>

In [42]:
# first way
data['Large Bags'].mean()

54338.08814455636

In [43]:
# second way
data['Large Bags'].describe()

count    1.824900e+04
mean     5.433809e+04
std      2.439660e+05
min      0.000000e+00
25%      1.274700e+02
50%      2.647710e+03
75%      2.202925e+04
max      5.719097e+06
Name: Large Bags, dtype: float64

<p><b>Question-4</b><hr>what were the best 5 records for sales price?</p>

In [44]:
# printing fully 
data.nlargest(5, ['AveragePrice'])

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
14125,8,2016-10-30,3.25,16700.94,2325.93,11142.85,0.00,3232.16,3232.16,0.00,0.0,organic,2016,SanFrancisco
17428,37,2017-04-16,3.17,3018.56,1255.55,82.31,0.00,1680.70,1542.22,138.48,0.0,organic,2017,Tampa
14124,7,2016-11-06,3.12,19043.80,5898.49,10039.34,0.00,3105.97,3079.30,26.67,0.0,organic,2016,SanFrancisco
16055,42,2017-03-12,3.05,2068.26,1043.83,77.36,0.00,947.07,926.67,20.40,0.0,organic,2017,MiamiFtLauderdale
16720,18,2017-08-27,3.04,12656.32,419.06,4851.90,145.09,7240.27,6960.97,279.30,0.0,organic,2017,RaleighGreensboro

In [45]:
# printing only average prices
data.nlargest(5, ['AveragePrice'])['AveragePrice']

14125    3.25
17428    3.17
14124    3.12
16055    3.05
16720    3.04
Name: AveragePrice, dtype: float64

<p><b>Question-5</b><hr>What was the best year in terms of production volume?</p>

In [46]:
# full row of total volume 
data.nlargest(1, ['Total Volume'])

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
9097,7,2018-02-04,0.87,62505646.52,21620180.9,20445501.03,1066830.22,19373134.37,13384586.8,5719096.61,269450.96,conventional,2018,TotalUS

In [47]:
# only year of best volume
data.nlargest(1, ['Total Volume']).Date

9097    2018-02-04
Name: Date, dtype: object

<p><b>Question-6</b><hr>Check if the data from the total bags column corresponds to the sum of the small bags, large bags, very large bags columns. Put NaN value for values that have errors</p>

In [48]:
# checking there are no null values
data.isna().sum()

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [49]:
# using for loop to change check for condidion
import numpy as np
for i in range(len(data['Total Bags'])):
    if (data['Total Bags'][i]==(data['Small Bags'][i]+ data['Large Bags'][i] + data['XLarge Bags'][i])):
        pass
    else:
        data['Small Bags'][i] = np.nan
        data['Large Bags'][i] = np.nan
        data['XLarge Bags'][i] = np.nan

/tmp/ipykernel_13144/3607215189.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Small Bags'][i] = np.nan
/tmp/ipykernel_13144/3607215189.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Large Bags'][i] = np.nan
/tmp/ipykernel_13144/3607215189.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['XLarge Bags'][i] = np.nan

In [50]:
# null values have been added
data.isna().sum()

Unnamed: 0         0
Date               0
AveragePrice       0
Total Volume       0
4046               0
4225               0
4770               0
Total Bags         0
Small Bags      4036
Large Bags      4036
XLarge Bags     4036
type               0
year               0
region             0
dtype: int64

<p><b>Question-7</b><hr>Find the line at position 15</p>

In [51]:
# full row 
data.iloc[[15]]

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
15,15,2015-09-13,1.28,76111.27,985.73,65696.86,142.0,9286.68,8665.19,621.49,0.0,conventional,2015,Albany

<p><b>Question-8</b><hr>How many rows of data per region were present in the table?</p>

In [52]:
# printing all unique regions
data['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [53]:
# total values are 54
data['region'].nunique()

54

In [54]:
# printing number of rows per region
for i in data['region'].unique():
    print(i)
    print((len(data.loc[data['region'] == i])))
    print("__________________________________________")

Albany
338
__________________________________________
Atlanta
338
__________________________________________
BaltimoreWashington
338
__________________________________________
Boise
338
__________________________________________
Boston
338
__________________________________________
BuffaloRochester
338
__________________________________________
California
338
__________________________________________
Charlotte
338
__________________________________________
Chicago
338
__________________________________________
CincinnatiDayton
338
__________________________________________
Columbus
338
__________________________________________
DallasFtWorth
338
__________________________________________
Denver
338
__________________________________________
Detroit
338
__________________________________________
GrandRapids
338
__________________________________________
GreatLakes
338
__________________________________________
HarrisburgScranton
338
__________________________________________
HartfordSpringfield
338
__________________________________________
Houston
338
__________________________________________
Indianapolis
338
__________________________________________
Jacksonville
338
__________________________________________
LasVegas
338
__________________________________________
LosAngeles
338
__________________________________________
Louisville
338
__________________________________________
MiamiFtLauderdale
338
__________________________________________
Midsouth
338
__________________________________________
Nashville
338
__________________________________________
NewOrleansMobile
338
__________________________________________
NewYork
338
__________________________________________
Northeast
338
__________________________________________
NorthernNewEngland
338
__________________________________________
Orlando
338
__________________________________________
Philadelphia
338
__________________________________________
PhoenixTucson
338
__________________________________________
Pittsburgh
338
__________________________________________
Plains
338
__________________________________________
Portland
338
__________________________________________
RaleighGreensboro
338
__________________________________________
RichmondNorfolk
338
__________________________________________
Roanoke
338
__________________________________________
Sacramento
338
__________________________________________
SanDiego
338
__________________________________________
SanFrancisco
338
__________________________________________
Seattle
338
__________________________________________
SouthCarolina
338
__________________________________________
SouthCentral
338
__________________________________________
Southeast
338
__________________________________________
Spokane
338
__________________________________________
StLouis
338
__________________________________________
Syracuse
338
__________________________________________
Tampa
338
__________________________________________
TotalUS
338
__________________________________________
West
338
__________________________________________
WestTexNewMexico
335
__________________________________________

<p><b>
    Question-9</b><hr>Find the list of regions present</p>

In [55]:
data['region'].unique().tolist()

['Albany',
 'Atlanta',
 'BaltimoreWashington',
 'Boise',
 'Boston',
 'BuffaloRochester',
 'California',
 'Charlotte',
 'Chicago',
 'CincinnatiDayton',
 'Columbus',
 'DallasFtWorth',
 'Denver',
 'Detroit',
 'GrandRapids',
 'GreatLakes',
 'HarrisburgScranton',
 'HartfordSpringfield',
 'Houston',
 'Indianapolis',
 'Jacksonville',
 'LasVegas',
 'LosAngeles',
 'Louisville',
 'MiamiFtLauderdale',
 'Midsouth',
 'Nashville',
 'NewOrleansMobile',
 'NewYork',
 'Northeast',
 'NorthernNewEngland',
 'Orlando',
 'Philadelphia',
 'PhoenixTucson',
 'Pittsburgh',
 'Plains',
 'Portland',
 'RaleighGreensboro',
 'RichmondNorfolk',
 'Roanoke',
 'Sacramento',
 'SanDiego',
 'SanFrancisco',
 'Seattle',
 'SouthCarolina',
 'SouthCentral',
 'Southeast',
 'Spokane',
 'StLouis',
 'Syracuse',
 'Tampa',
 'TotalUS',
 'West',
 'WestTexNewMexico']

<p><b>Question-10</b><hr>Delete columns ‘4046’,’4225’,’4770’ and save the result in an excel file</p>

In [56]:
# 10- Delete columns ‘4046’,’4225’,’4770’ and save the result in an excel file
new_data = data.drop(data['Unnamed: 0'][4046])
new_data =data.drop(new_data['Unnamed: 0'][4225])
new_data = data.drop(new_data['Unnamed: 0'][4779])


new_data.to_excel("avocado_excel.xlsx")

In [57]:
# thank you