##### Bashir Alam
##### Assignment 4

<p><b>Question-1</b><hr>a) The comma in the numbers must be replaced by a point<hr>
b) The sales volume has sometimes an M and sometimes a K. this will prohibit the use of numbers as
numbers, so we must replace, for example, 1.57M by 1560000 or 4.56K by 456000<hr>
c) We want to add a column that contains positive or negative as a function of variation.<hr>
d) Change column names to English<hr>
e) The date is in European format we must change the date to appear 04-12-2021 that is day, month and
year (NOTE dates and times are manipulated with formats. look for information about timestamp in
pandas)<hr>

1- Write a function to correct these points and save the file with the name of cttcorrcted.csv</p>

In [34]:
import pandas as pd

data = pd.read_csv("CTT10.csv")

data.head()

         Data Último Abertura  Alta Baixa     Vol.  Var. %
0  12.04.2021   3,50     3,57  3,64  3,46    1,57M  -1,55%
1  09.04.2021   3,56     3,52  3,57  3,52  666,03K   1,14%
2  08.04.2021   3,52     3,45  3,54  3,45  882,54K   1,59%
3  07.04.2021   3,46     3,43  3,49  3,43  508,33K   0,87%
4  06.04.2021   3,43     3,44  3,49  3,43  809,46K   0,59%

In [35]:
# removing commas from the columns
for col in data.columns:
    data[col] = data[col].replace(",", "", regex=True)

In [36]:

# converting the K and M into numbers
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    return 0.0

data['Vol.'] = data['Vol.'].apply(value_to_float)

In [37]:
# renaming the column names
data.rename(columns = {'Data':'Date', "Último":"Last", "Abertura":"Open", "Alta": "High","Baixa":"Low", "Vol.": "Vol.","Var. %":"Var. %"}, inplace = True)

In [38]:
data.head()

         Date Last Open High  Low         Vol. Var. %
0  12.04.2021  350  357  364  346  157000000.0  -155%
1  09.04.2021  356  352  357  352   66603000.0   114%
2  08.04.2021  352  345  354  345   88254000.0   159%
3  07.04.2021  346  343  349  343   50833000.0   087%
4  06.04.2021  343  344  349  343   80946000.0   059%

In [39]:
# changing the date format
data["Date"] = data["Date"].astype('datetime64[ns]')

/tmp/ipykernel_90639/1970450116.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data["Date"] = data["Date"].astype('datetime64[ns]')

In [42]:
# df['day'] = pd.to_datetime(df['day'])
data['Date'] = data['Date'].dt.strftime('%d.%m.%Y')

<p><b>Question-2</b><hr>What was the date with the highest volatility (difference between min and max)</p>

In [ ]:
vali