In [21]:
#subset of the dashfired safety project
import pandas as pd
import datetime as dt
from datetime import timedelta
import matplotlib.pyplot as plt



df=pd.read_excel('dashboard.xlsx')
df.head()

  Country State  Time_Period  Outcome       Date
0      US    PA  10h00-11h00  Failure 2021-04-01
1      US    MS   9h00-10h00  Success 2021-04-01
2      US    TX   9h00-10h00  Success 2021-04-01
3      US    NJ  10h00-11h00  Success 2021-04-01
4      US    NM   9h00-10h00  Success 2021-04-01

In [2]:
totac=df.groupby('Date')['Outcome'].count()
totsuc=df[df['Outcome']=='Success'].groupby('Date')['Outcome'].count()
totnsuc=df[df['Outcome']=='Failure'].groupby('Date')['Outcome'].count()

In [11]:
totac1=df.groupby('State')['Outcome'].count()
totsuc1=df[df['Outcome']=='Success'].groupby('State')['Outcome'].count()
totnsuc1=df[df['Outcome']=='Failure'].groupby('State')['Outcome'].count()

In [14]:
def success(outcome):
    if outcome == "Success":
        return 1
    else:
        return 0
df["Success"] = df.Outcome.apply(success)
success_time = df[df["Success"] == 1].groupby("Time_Period")["Success"].count().sort_index()

In [15]:
success_time.head()

Time_Period
10h00-11h00    11
11h00-12h00    20
12h00-13h00    11
13h00-14h00    10
14h00-15h00    18
Name: Success, dtype: int64

In [26]:
def success(outcome):
    if outcome == "Success":
        return 1
    else:
        return 0
def failure(outcome):
    if outcome == "Failure":
        return 1
    else:
        return 0

df["Success"] = df.Outcome.apply(success)
df["Failure"] = df.Outcome.apply(failure)


sucess_in_state = df.groupby("State")["Success"].sum()
failure_in_state = df.groupby("State")["Failure"].sum()

num

In [27]:
failure_in_state

State
AL                4
AR                1
AZ                1
CA               22
CO                1
CT                2
FL               24
Free              1
GA               11
IA                0
IL               14
IN                7
International     1
KS                3
KY                1
LA                3
MA                7
MD                5
ME                4
MI                6
MN                3
MO                2
MS                0
MT                1
NC                7
NH                1
NJ               14
NM                0
NV                5
NY               19
National          0
OH               11
OR                1
PA               13
SC                0
TN                6
TX                8
UT                1
VA                0
WA                4
WI                3
WV                1
unkown           10
Name: Failure, dtype: int64

In [30]:
totac=df.groupby('State')['Outcome'].count().reset_index()  
totsuc=df[df['Outcome']=='Success'].groupby('State')['Outcome'].count().reset_index()
totnsuc=df[df['Outcome']=='Failure'].groupby('State')['Outcome'].count().reset_index()

dfm = pd.merge(totac, totsuc, on='State').fillna(0)
print(dfm)
input()
dfm['ratio']=dfm['Outcome_y']/dfm['Outcome_x']
print(dfm)
input()
best=dfm['ratio'].max()
print('best ratio is ',best)
best=dfm.loc[dfm['ratio'].idxmax()]
print('best state is',best)

     State  Outcome_x  Outcome_y
0       AR          2          1
1       CA         34         10
2       CO          5          4
3       FL         33          6
4       GA         18          5
5       IA          1          1
6       IL         21          5
7       IN          8          1
8       LA          4          1
9       MA          9          2
10      ME          6          2
11      MI         10          4
12      MN          4          1
13      MO          3          1
14      MS          1          1
15      NC         13          3
16      NJ         25          9
17      NM          2          2
18      NV          8          3
19      NY         36         14
20      OH         19          6
21      PA         22          8
22      SC          1          1
23      TN          8          1
24      TX         22         11
25      VA          3          2
26      WA          5          1
27  unkown         14          3

     State  Outcome_x  Outcome_y     ratio
0       AR          2          1  0.500000
1       CA         34         10  0.294118
2       CO          5          4  0.800000
3       FL         33          6  0.181818
4       GA         18          5  0.277778
5       IA          1          1  1.000000
6       IL         21          5  0.238095
7       IN          8          1  0.125000
8       LA          4          1  0.250000
9       MA          9          2  0.222222
10      ME          6          2  0.333333
11      MI         10          4  0.400000
12      MN          4          1  0.250000
13      MO          3          1  0.333333
14      MS          1          1  1.000000
15      NC         13          3  0.230769
16      NJ         25          9  0.360000
17      NM          2          2  1.000000
18      NV          8          3  0.375000
19      NY         36         14  0.388889
20      OH         19          6  0.315789
21      PA         22          8  0.363636
22      SC          1          1  1.000000
23      TN          8          1  0.125000
24      TX         22         11  0.500000
25      VA          3          2  0.666667
26      WA          5          1  0.200000
27  unkown         14          3  0.214286

best ratio is  1.0
best state is State         IA
Outcome_x      1
Outcome_y      1
ratio        1.0
Name: 5, dtype: object